<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"></link>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <title>Personal Website</title>
  {% block html_head %}{% endblock %}
</head>
<body>
  <center>
  <div id="topnav">
      <a href="/about">About</a>
      <a href="/demos">Demos</a>
      <a href="/">Home</a>
      <a href="/projects">Projects</a>
      <a href="https://git.io/JLgYe">Résumé</a>
  </div>
  <hr style="width:30%"></hr>
  <br/>
  {% block content %}{% endblock %}

  </center>

</body>
