<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
{% extends "layout.html" %}
{% block content %}

{% for PortfolioItem in PortfolioItems %}
<center>
<div class="portfolio-item">

<h1><b>{{ PortfolioItem.name }}</b></h1>
<hr style="width:40%"></hr>
<img src="{{ PortfolioItem.image_path }}" width=480, height=300/>
<br/>
<br/>

<button type="button" class="invoke-demo" data-toggle="modal" data-target="#PortfolioItemModal{{ PortfolioItem.name.replace(" ", "") }}">Information</button>

<!-- Modal -->
<div class="modal fade" id="PortfolioItemModal{{ PortfolioItem.name.replace(" ", "") }}" role="dialog">
<div class="modal-dialog">

  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">{{ PortfolioItem.name }}</h4>
    </div>
    <div class="modal-body">
      <p>{{ PortfolioItem.description }}</p>
      <p>Authors: {{ ', '.join(PortfolioItem.authors) }}</p>
      <p>Source code link: <a href="{{ PortfolioItem.src_link }}">Here</a></p>
      <p>Documentation: <a href="{{ PortfolioItem.doc_link }}">Here</a></p>
      <p>Language(s): {{ ', '.join(PortfolioItem.languages) }}</p>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
  
</div>

<br/>
</div>


<br/>
</div>
</center>

<br></br>

{% endfor %}

{% endblock content %}
